# Pengenalan Data Analysis

Halo! selamat datang pada laman ini. Perkenalkan, saya Maria Khelli dan saya merupakan mahasiswi ITB Teknik Informatika 2020. Pada artikel ini, selain berkenalan dengan saya, kalian juga akan berkenalan dengan analisis data. Saya akan bawa kalian "jalan-jalan" mulai dari mengapa kita harus belajar data, apa itu analisis data, dan hands-on analisis data dengan Python. Yuk, langsung saja!

## **Kenapa, ya, harus belajar data?**

Perhatikan sekeliling kita. Kita sebetulnya sudah amat dekat dengan data. Apa-apa data, apa-apa data. Ingat laporan praktikum (laprak) kalian? Nah, itu adalah data. Kalau kalian di kamar mandi, pasti kalian pernah iseng membaca komposisi dari shampoo atau sabun kalian bukan? Itu juga adalah data.

Secara definisi, menurut KBBI, data merupakan keterangan atau bahan nyata yang dapat dijadikan dasar analisis atau kesimpulan. Dalam cakupannya di ilmu komputer, data merupakan **informasi** yang dapat diproses oleh komputer. Sejauh ini, **komputer hanya bisa memproses angka**. Jadi, semua informasi yang ingin diproses komputer **harus diubah atau dikonversi ke dalam representasi angka** terlebih dahulu. Meski demikian, hebatnya teknologi sekarang adalah data seperti suara atau gambar yang "tidak ada matematikanya" juga bisa direpresentasikan sebagai angka, lho!

Jadi-jadi, kenapa harus belajar data? Ingat lagi bahwa **data ada di sekeliling kita**. Setiap keputusan yang kita ambil itu juga berdasarkan data yang kita miliki. Nah, data tersebut bentuknya adalah pengalaman. Apabila pengalaman tersebut tidak dimaknai dan dimanfaatkan dengan baik, tidak ada gunanya juga, bukan? Sia-sialah sesuatu yang berharga itu. Sama seperti data, **jika kita tidak bisa memaknai dan memanfaatkannya dengan baik, data tersebut adalah sia-sia.** Padahal, dengan data, kita bisa menjadi lebih peka terhadap keputusan mana yang paling baik. Hal ini mampu memberi kita **peluang untuk menemukan potensi baru.** 

Sebenarnya, ada banyak cabang dalam ilmu data, beberapa di antaranya adalah *data science* dan *dan data analytics*. Mereka saling berhubungan satu dan yang lain. *Data analytics* pun juga memiliki beberapa klasifikasi, yaitu sebagai berikut.
* **Deskriptif**: menjelaskan apa yang terjadi
* **Diagnostik**: mengapa itu terjadi
* **Prediktif**: apa yang akan terjadi
* **Preskriptif**: apa yang harus dilakukan

<img src="../assets/principa-4-types-of-da.png"></img>
<br> Sumber: [KD Nuggets](https://www.kdnuggets.com/2017/07/4-types-data-analytics.html)

Dalam artikel ini, kita hanya akan membahas analisis data, khususnya analisis deskriptif. Kenapa? Karena ilmu ini merupakan ilmu paling dasar dan ilmu paling umum. Jadi, prinsip-prinsip analisis data yang kalian pelajari di sini dapat kalian terapkan dalam bidang ilmu yang kalian tekuni sekarang. *Anyway, meskipun ada dari kalian yang tidak menjurus ke informatika, belajar data secara mendalam nggak ada salahnya, kok!*

## **Lalu, apa itu analisis data?**

Menurut Wikipedia, analisis data adalah proses mengkaji (menginspeksi), mentransformasikan, dan memodelkan data **dengan tujuan untuk menemukan informasi yang berguna, menarik kesimpulan, dan mendukung pengambilan keputusan.** Sementara itu, Milton berpendapat bahwa analisis data adalah cara untuk **memecah masalah yang kompleks menjadi beberapa bagian** sehingga dapat **mengetahui akar masalahnya.**

Dalam analisis data, tentu ada tahap-tahap yang harus dilakukan. Tahap tahap tersebut diilustrasikan pada gambar di bawah ini.

<img src="../assets/da-workflow.png"></img>
<br> Sumber: Milton, Michael. 2009. *Head First Data Analysis*. USA: O'Reilly

Agar memudahkan, mari simak contoh sederhana berikut. Misalkan kamu adalah seorang pelajar perantau yang sedang kebingungan ingin makan apa pada sore hari. Uangmu untuk jatah hari ini hanya sisa Rp50.000, tentu artinya kamu tidak boleh belanja lebih dari ini. Kamu bisa memilih untuk berjalan kaki dan membeli makan sendiri jika warung makannya dekat dengan tempat tinggalmu atau menggunakan layanan ojek *online* (ojol) untuk mengantarkan makanannya. Kamu sedang ada tugas sehingga tidak punya banyak waktu untuk memasak. 

**1. Define**: apa yang menjadi masalahmu? <br>

Sebaiknya definisi masalah berbentuk pertanyaan (ingat rumusan masalah dalam karya ilmiah). Dalam hal ini, contoh permasalahannya adalah "Bagaimana memilih makanan yang tepat untuk dibeli pada sore hari ini?"

**2. Disassemble**: uraikan permasalahan menjadi masalah yang lebih kecil. <br>

Terkadang, rumusan masalah terlalu luas sehingga pertanyaannya tidak dapat dijawab secara langsung. Maka, untuk masalah-masalah yang belum jelas coba didiskusikan terlebih dahulu dengan orang yang terlibat, misalnya jika kamu memiliki *client*. Untuk hal ini, karena ini masalahmu sendiri, kamu bisa mempertimbangkan beberapa hal. Contohnya sebagai berikut.
    * "Apa yang sedang ingin kamu makan? Apakah sesuatu yang asin atau manis?"
    * "Apakah budget kamu cukup? Lebih hemat jalan kaki atau ojol? "
    * "Seberapa banyak kamu ingin makan? Apakah lebih banyak lebih baik?"
    * "Apakah makanan yang ingin dibeli higienis?"
    * "Adakah warung makan lain yang menjual makanan yang sejenis tetapi lebih murah dan tetap higienis?"
    * dan lain-lain.
Jumlah pertanyaannya bebas. Tidak harus banyak dan tidak harus sedikit. Selama pertanyaan-pertanyaan tersebut cukup untuk membantumu menyelesaikan masalahmu, maka pertanyaan tersebut sudah tepat jumlahnya.

**3. Evaluate**: amati permasalahanmu sebelumnya, kemudian bandingkan dengan data <br>

Pada contoh ini, data-data yang kamu miliki bisa berasal dari internet (ulasan orang lain, rating, dan sejenisnya), pengalaman kamu, maupun cerita dari temanmu. **INGAT !!** Kamu tidak boleh memasukkan pengalamanmu sebagai data jika masalahnya merupakan masalah perusahaan. **Input data harus sesuai dengan permasalahanmu**. Pada permasalahan yang nyata, misalnya omset penjualan baju, data yang dimiliki biasanya berbentuk tabular... atau kamu bisa ingat laporan praktikummu lagi! Di sana, kamu tidak dapat memasukkan pengalamanmu sebagai input data, bukan? <br>
Baik, mari kembali pada mengamati permasalahan dan data. Contohnya adalah sebagai berikut.

**Observasi terhadap permasalahan** <br>
* Kamu sedang ingin makan makanan yang asin.
* Budget yang dimiliki sebesar Rp50.000.
* Sore ini kamu lapar, jadi harus makan banyak. 

**Observasi terhadap data** <br> 
* Di dekat rumah ada warung makan mi ayam. Di sisi lain, warung makanan yang tersedia pada layanan ojol juga banyak yang masih belum tutup.
* Warung makan dekat rumah memang murah dan hemat ongkos kirim, tetapi ternyata layanan ojol menyediakan diskon sehingga harga layanan ojol lebih murah.
* Pilihan makanan di layanan ojol lebih banyak, tidak hanya mi ayam. Kamu bisa memilih makanan lain dengan volume yang banyak, tetapi tetap mendapat harga yang murah.

**4. Decide**: berisi kesimpulan dan saran dari analisis yang kamu lakukan. <br>

Pada bagian ini, kamu bisa memasukkan pengalaman kamu sebagai opini. Kesimpulan dan saran pada contoh ini misalnya, makanan yang paling baik dibeli sore hari ini adalah makanan Padang. Harganya sekitar setengah dari budget karena ada promosi dari layanan ojol. Menurutmu, ini pilihan yang baik karena waktu itu pernah membeli dan rasanya enak (pengalaman).

## **Tunggu, tunggu, tunggu, masih ada yang lupa! Ternyata dalam analisis deskriptif, kita harus mengetahui tipe data yang kita miliki**

Pada contoh sebelumnya, kamu telah membaca *workflow* analisis data secara umum. Kenyataannya, permasalahan bisa lebih kompleks daripada itu. Maka dari itu, kita harus mengetahui tipe-tipe data yang ada. Tipe data yang berbeda memiliki cara penanganan yang berbeda. Yuk, kita simak sebelum **hands-on**!!

## Data Kuantitatif dan Kualitatif
Sebagian dari kalian mungkin sudah mengetahui perbedaan kedua tipe data tersebut.
* Data **kuantitatif** merujuk pada data numerik. Misalnya, kecepatan, percepatan, atau jumlah buku.

* Data **kualitatif** merujuk pada informasi tentang kualitas (tentunya), yaitu informasi yang tidak dapat dihitung. Misalnya, warna mata seseorang atau program studi seseorang.

### **Data Kuantitatif**
Data kuantitatif dapat dibagi menjadi dua: diskrit dan kontinu. Perbedaannya apa?
* **Diskrit** merupakan data yang berbentuk bilangan bulat. Misalnya, jumlah anjing peliharaan dalam rumah. Kamu tidak bisa memiliki satu-setengah anjing. Contoh lain adalah jumlah halaman pada sebuah buku.

* **Kontinu** merupakan data yang bisa dinyatakan dalam bentuk bilangan pecahan atau desimal. Biasanya, data ini berbentuk rasional. Jika tidak rasional, akan dilakukan pembulatan sehingga menjadi rasional. Contoh data kontinu adalah harga sebuah buku, durasi waktu, dan tinggi badan.

### **Data Kualitatif**
Meski data kualitatif menunjukkan kualitas yang tidak dapat dihitung, ingat bahwa komputer hanya dapat memproses angka. Maka dari itu, jika ingin diproses, harus diubah ke dalam representasi angka terlebih dahulu. Data kualitatif dibagi menjadi tiga:
* **Nominal**: Data yang digunakan sebagai variabel untuk merepresentasikan, misalnya warna rambut. Contohnya adalah 1: hijau, 2: merah, 3: kuning, 4: biru. Urutannya bebas, asal konsisten. Angka 1 dan 4 di sini tidak dapat dibandingkan dalam artian 1 tidak lebih kecil dari 4 karena hijau dan biru tidak ada relasi besar-kecil.

* **Ordinal**: Pada tipe ini, data memiliki relasi besar-kecil. Namun, definisi besar-kecilnya didefinisikan pada yang membuat data. Contohnya adalah skala kepuasan (rating) terhadap makanan. Data ini memiliki keterurutan. Dalam skala 1-100, angka 100 "lebih baik" daripada angka 99 (bergantung definisi skalanya, bisa terbalik). Skala juga bisa didefinisikan 1-5 atau 1-10 saja. Ordinal bisa diperlakukan sebagai diskrit atau kontinu.
<br> Lalu, mengapa ini tak masuk dalam kategori kuantitatif? Dalam kuantitatif, misal jumlah halaman buku adalah 231 halaman. Namun, apakah buku dengan 231 halaman pasti "lebih baik" daripada buku dengan 230 halaman? Tentu tidak.

* **Binary**: Seperti namanya, data ini hanya memiliki nilai biner "0" atau "1" seperti "false" atau "true" saja. Contohnya adalah absensi mahasiswa. Seorang mahasiswa dapat dikategorikan sebagai hadir (1) atau tidak hadir (0). Sebenarnya, representasi 0/1 bisa bebas, tetapi disarankan nilai "0" hanya untuk yang tidak memenuhi kondisi saja, dan *vice versa*.

<img src="../assets/scales-table.png"></img>
<br> Sumber: Moreira et al. 2019. *A General Introduction to Data Analytics*. USA: John Wiley & Sons, Inc

## Skala Perhitungan
Skala perhitungan merupakan cara sebuah variabel didefinisikan. Dengan kata lain, kita menginterpretasikan maksud dari data melalui kategorinya dalam skala perhitungan. Beberapa klasifikasinya adalah sebagai berikut.

* **Nominal**: merupakan angka yang merepresentasikan variabel sehingga tidak ada keterurutan.
* **Ordinal**: mendeskripsikan data menurut keterurutan tertentu. Keterurutan tersebut didefinisikan oleh pembuat data.
* **Interval**: skala ini memiliki kekhususan yaitu bahwa nilai nol "0" merupakan nilai yang benar-benar ada dan memiliki arti, misalnya temperatur nol derajat Celcius (*NO TRUE ZERO*). Selain itu, data dengan tipe ini memiliki selisih yang sama di antara mereka(*equally spaced*). Misalnya selisih antara 10 dan 20 derajat dengan 20 dan 30 derajat adalah sama.
* **Ratio**: perbedaan paling mencolok adalah dengan interval. Tipe skala rasio memiliki nilai absolut nol. Misalnya, jika berat badanmu 0kg, artinya kamu tidak ada.

References: 
1. Milton, Michael. 2009. *Head First Data Analysis*. USA: O'Reilly
1. Moreira et al. 2019. *A General Introduction to Data Analytics*. USA: John Wiley & Sons, Inc
1. https://studyonline.unsw.edu.au/blog/types-of-data
1. https://www.kdnuggets.com/2017/07/4-types-data-analytics.html

# Hands-On Data Analysis with Python

Prerequisite: 
* Kamu sudah baca pengantar analisis data.
* Kamu harus sudah familiar dengan Python, mengerti dasar-dasar Python seperti tipe data, variabel, struktur data sederhana seperti array dan matriks, control flow (if-else, loops), dan mengetahui cara kerja library dalam Python.

Sebelum mulai, silakan unduh dataset dari [Kaggle](https://www.kaggle.com/komalkhetlani/nutritional-content-of-cereals).

## Making Data Frame (anggap saja tabel)

In [1]:
#Tentunya harus import library Pandas terlebih dahulu
import pandas as pd 

# Membuat dataset - Cara 1
tabel = {"Kolom_00": ["Baris_00", "Baris_00", "Baris_00"],
            "Kolom_01": ["Baris_01", "Baris_01", "Baris_01"],
            "Kolom_02": ["Baris_02", "Baris_02", "Baris_02"]}

dataFrame1 = pd.DataFrame(data=tabel) #perhatikan huruf besar-kecil!!
print(dataFrame1)

   Kolom_00  Kolom_01  Kolom_02
0  Baris_00  Baris_01  Baris_02
1  Baris_00  Baris_01  Baris_02
2  Baris_00  Baris_01  Baris_02

In [2]:
# Membuat dataset - Cara 2
tabel2 = {"JENIS_BARANG" : pd.Series(['Susu', 'Telur', 'Gula'], index=['u', 'v', 'w']),
        "KUANTITAS": pd.Series(['10', '3', '9'], index=['u','v','w'])}
        
dataFrame2 = pd.DataFrame(tabel2)
print(dataFrame2)

  JENIS_BARANG KUANTITAS
u         Susu        10
v        Telur         3
w         Gula         9

## Load dan Output Data Frame

In [3]:
'''
Sudah download dataset dari link Kaggle di atas? Unzip, lalu letakkan pada sebuah folder bernama "datasets". Jadi struktur foldernya adalah:
- namafilekamu.ipynb
- datasets
    - cereal.csv
'''

# Load dataset
df = pd.read_csv("datasets/cereal.csv")

# Menampilkan datasetnya tidak harus menggunakan print
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [4]:
# Head: menampilkan 5 data teratas
# Tail: menampilkan 5 data terakhir
df.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
73,Triples,G,C,110,2,1,250,0,21,3,60,25,3,1,0.75,39.106174
74,Trix,G,C,110,1,1,140,0,13,12,25,25,2,1,1,27.753301
75,Wheat Chex,R,C,100,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
76,Wheaties,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592193
77,Wheaties Honey Gold,G,C,110,2,1,200,1,16,8,60,25,1,1,0.75,36.187559

In [5]:
#Bisa dimasukkan argumen, misal 10 data teratas, berarti
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843
6,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1,0.75,29.509541
7,Apple Jacks,K,C,110,2,0,125,1,11,14,30,25,2,1,1,33.174094
8,Basic 4,G,C,130,3,2,210,2,18,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,90,2,1,200,4,15,6,125,25,1,1,0.67,49.120253

Data di atas menggunakan CSV (Comma Separated Values). <br>
Untuk CSV yang menggunakan delimiter selain koma, kamu bisa gunakan <br>
df = pd.read_csv("path/namafile.csv", delimiter=";") <br>
atau <br>
df = pd.read_csv("path/namafile.csv", sep=";") <br>
 
Untuk membaca data excel berekstensi .xlsx, kamu bisa gunakan <br>
df = pd.read_excel("path/namafile.xlsx")

In [6]:
# Kita bisa melihat dimensi dataset dengan command berikut
df.shape

(78, 16)

In [7]:
'''Artinya, dataset kita memiliki 78 baris dan 16 kolom. Kita bisa cek dengan teknkik yang sudah kita gunakan tadi
Terlihat bahwa index terakhir adalah 77, ingat bahwa kita mulai dari 0, jadi benar bahwa ada 78 baris.
'''
df.tail(3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
75,Wheat Chex,R,C,100,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
76,Wheaties,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592193
77,Wheaties Honey Gold,G,C,110,2,1,200,1,16,8,60,25,1,1,0.75,36.187559

## Dumping NaN Values

In [8]:
'''Untuk memperlancar analisis, biasanya orang akan membuang data NaN (not a number). 
Kalau di matematika, nilainya seperti sqrt(-1) alias imajiner.
Data akan dibuang jika memang jumlahnya tidak banyak. 
Jika jumlahnya banyak, ada cara lain untuk menanganinya. Untuk sekarang, kita belum sampai sana.
'''

df.dropna(inplace=True)

## Selecting Data

In [9]:
# Untuk memilih data, kita bisa menggunakan .loc dan .iloc, bedanya apa?

df.iloc[:4] #lihat indeks hanya dari nol sampai 3 (seperti slicing list)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505

In [10]:
# Bedakan dengan .loc
df.loc[:4] #lihat, indeks dari nol sampai 4

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [11]:
# Agar lebih paham, coba simak dataframe susu-telur-gula yang sudah kita buat tadi
dataFrame2.iloc[:2]

  JENIS_BARANG KUANTITAS
u         Susu        10
v        Telur         3

In [12]:
# Perhatikan! Indeks dari dataFrame2 adalah u, v, dan w. Kita coba menggunakan loc
dataFrame2.loc[:2]

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

Terjadi error! Mengapa? karena .loc mengakses lewat "indeks" sesuai dataframe kita, sedangkan .iloc mengakses lewat urutan "baris" (tidak peduli indeksnya apa pun). <br>
Mari kita coba lagi.

In [13]:
dataFrame2.loc[:'v'] # Perhatikan, harus berupa karakter! (menggunakan tanda petik)

  JENIS_BARANG KUANTITAS
u         Susu        10
v        Telur         3

Sebenarnya, bisa saja tanpa menggunakan .loc atau .iloc, tetapi tidak disarankan. Jika indeks tidak berupa angka, akan terjadi error seperti tadi.

In [14]:
# Kembali ke dataset sereal
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [15]:
# Misal kita ingin melakukan seleksi dari baris ke-55 sampai baris ke-60 kolom kalori, protein, sampai dengan vitamin.
# Kita dapat melakukannya dengan
df.loc[55:60, "calories": "vitamins"]

   calories protein fat sodium fiber carbo sugars potass vitamins
55       50       1   0      0     0    13      0     15        0
56       50       2   0      0     1    10      0     50        0
57      100       4   1    135     2    14      6    110       25
58      100       5   2      0   2.7    -1     -1    110        0
59      120       3   1    210     5    14     12    240       25
60      100       3   2    140   2.5  10.5      8    140       25

In [16]:
# Untuk memilih kolom tertentu, kita bisa menggunakan
df['name'].head()

0                       String
1                    100% Bran
2            100% Natural Bran
3                     All-Bran
4    All-Bran with Extra Fiber
Name: name, dtype: object

In [17]:
# atau
df.name.head() #syntax kedua dipakai jika nama kolom tidak punya spasi

0                       String
1                    100% Bran
2            100% Natural Bran
3                     All-Bran
4    All-Bran with Extra Fiber
Name: name, dtype: object

In [18]:
# Kita juga bisa memberikan kondisional pada dataset, misalnya
df[df.rating >= 60]

TypeError: '>=' not supported between instances of 'str' and 'int'

Oops, sepertinya kita perlu melakukan manipulasi terlebih dahulu.

## Manipulating Data Frame

In [19]:
# Untuk mengecek tipe data, kita bisa menggunakan command
df.dtypes

name        object
mfr         object
type        object
calories    object
protein     object
fat         object
sodium      object
fiber       object
carbo       object
sugars      object
potass      object
vitamins    object
shelf       object
weight      object
cups        object
rating      object
dtype: object

Terlihat bahwa semua kolom kita merupakan tipe objek. Sebenarnya, pada baris indeks nol, diberitahukan jenis datanya. Kita bisa mengikuti itu (kalau tidak juga tidak apa-apa, tetapi mari ikuti saja). Oh iya, apa itu objek dalam Pandas? Untuk sekarang, sebenarnya tidak masalah jika kalian ingin menganggap objek tersebut sebagai string saja. Jika ingin penjelasan lebih lanjut, kalian bisa kunjungi laman [berikut](https://stackoverflow.com/questions/34881079/pandas-distinction-between-str-and-object-types).

In [20]:
# Mari lihat tipe data awalnya
df.iloc[:2]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973

In [21]:
# Untuk melakukan casting (perubahan tipe data) dari objek ke, misalnya, string, integer, atau float, 
# kita harus ubah dataset utama kita terlebih dahulu
df = df.iloc[1:]
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

In [22]:
# Baris pertama telah hilang, maka kita bisa lakukan casting (lakukan ini per kolom karena beda kolom beda tipe data).
# Kita coba casting kolom terakhir
df.rating = df.rating.astype(float)
df.calories = df.calories.astype(int)
df.protein = df.protein.astype(int)
df.fat = df.fat.astype(int)
df.sodium = df.sodium.astype(int)
df.fiber = df.fiber.astype(float)
df.carbo = df.carbo.astype(float)
df.sugars = df.sugars.astype(float)
df.potass = df.potass.astype(float)
df.vitamins = df.vitamins.astype(float)
df.shelf = df.shelf.astype(float)
df.weight = df.weight.astype(float)
df.cups = df.cups.astype(float)

df.rating.dtype

dtype('float64')

In [23]:
# Lihat tipe datanya berubah dari objek ke float64. Sekarang, kita bisa lakukan seleksi kondisional pada kolom rating
df[df.rating >= 60] # Terlihat bahwa yang muncul hanya ketika rating lebih dari 60

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25.0,3.0,1.00,0.33,68.402973
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25.0,3.0,1.00,0.50,93.704912
21,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0.0,-1.0,0.0,2.0,1.00,1.00,64.533816
55,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0.0,15.0,0.0,3.0,0.50,1.00,60.756112
56,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0.0,50.0,0.0,3.0,0.50,1.00,63.005645
64,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0.0,95.0,0.0,1.0,0.83,1.00,68.235885
65,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0.0,140.0,0.0,1.0,1.00,0.67,74.472949
66,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0.0,120.0,0.0,1.0,1.00,0.67,72.801787

In [24]:
# Kita juga bisa menyeleksi dengan 2 kondisi
df[(df.rating >= 60) & (df.type == 'C')] # Gunakan tanda kurung untuk meminimalisasi error

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25.0,3.0,1.00,0.33,68.402973
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25.0,3.0,1.00,0.50,93.704912
55,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0.0,15.0,0.0,3.0,0.50,1.00,60.756112
56,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0.0,50.0,0.0,3.0,0.50,1.00,63.005645
64,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0.0,95.0,0.0,1.0,0.83,1.00,68.235885
65,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0.0,140.0,0.0,1.0,1.00,0.67,74.472949
66,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0.0,120.0,0.0,1.0,1.00,0.67,72.801787

## Sorting

In [25]:
'''
Kita bisa melakukan pengurutan dengan dataset menggunakan command df.sort_values. Argumen by merupakan kolom yang ingin menjadi acuan saat sorting, kemudian argumen ascending merupakan 'mode' pengurutan, apakah besar -> kecil (ascending=False) atau kecil -> besar (ascending=True). Bisa kalian substitusi True dengan [1] dan False dengan [0].
'''

df.sort_values(by='calories', ascending=True)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25.0,3.0,1.00,0.50,93.704912
55,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0.0,15.0,0.0,3.0,0.50,1.00,60.756112
56,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0.0,50.0,0.0,3.0,0.50,1.00,63.005645
1,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25.0,3.0,1.00,0.33,68.402973
3,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25.0,3.0,1.00,0.33,59.425505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Basic 4,G,C,130,3,2,210,2.0,18.0,8.0,100.0,25.0,3.0,1.33,0.75,37.038562
40,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9.0,95.0,100.0,3.0,1.30,0.75,36.471512
50,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7.0,130.0,25.0,3.0,1.33,0.67,40.692320
71,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14.0,230.0,100.0,3.0,1.50,1.00,28.592785
47,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13.0,160.0,25.0,3.0,1.50,0.67,30.313351

In [26]:
# Kita juga bisa melakukan dua sort sekaligus
'''
Cara kerja kodenya: sorting berdasarkan calories terlebih dahulu. Jika sama, lalu sorting untuk rating.
Jika terbalik, hasil keluaran akan berbeda.
'''
df.sort_values(by=['calories', 'rating'], ascending=[1, 1])

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
55,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0.0,15.0,0.0,3.0,0.50,1.00,60.756112
56,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0.0,50.0,0.0,3.0,0.50,1.00,63.005645
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25.0,3.0,1.00,0.50,93.704912
3,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25.0,3.0,1.00,0.33,59.425505
1,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25.0,3.0,1.00,0.33,68.402973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Basic 4,G,C,130,3,2,210,2.0,18.0,8.0,100.0,25.0,3.0,1.33,0.75,37.038562
71,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14.0,230.0,100.0,3.0,1.50,1.00,28.592785
40,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9.0,95.0,100.0,3.0,1.30,0.75,36.471512
50,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7.0,130.0,25.0,3.0,1.33,0.67,40.692320
47,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13.0,160.0,25.0,3.0,1.50,0.67,30.313351

In [27]:
df.sort_values(by=['rating', 'calories'], ascending=[1, 1]) #Berbeda kan?

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12.0,35.0,25.0,2.0,1.00,0.75,18.042851
13,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9.0,45.0,25.0,2.0,1.00,0.75,19.823573
36,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11.0,45.0,25.0,2.0,1.00,1.00,21.871292
19,Count Chocula,G,C,110,1,1,180,0.0,12.0,13.0,65.0,25.0,2.0,1.00,1.00,22.396513
15,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13.0,55.0,25.0,2.0,1.00,1.00,22.736446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0.0,95.0,0.0,1.0,0.83,1.00,68.235885
1,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25.0,3.0,1.00,0.33,68.402973
66,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0.0,120.0,0.0,1.0,1.00,0.67,72.801787
65,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0.0,140.0,0.0,1.0,1.00,0.67,74.472949
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25.0,3.0,1.00,0.50,93.704912

## Pandas Basic Statistics

In [28]:
# Kalian bisa mengetahui secara cepat statistik sederhana dari data numerik, seperti mean, median, dll.
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,105.540541,2.500000,0.945946,160.675676,2.090541,14.594595,6.770270,92.675676,28.378378,2.175676,1.027432,0.818243,42.879265
std,18.442201,1.088546,0.963610,85.188447,2.404002,4.349205,4.467684,70.578065,22.787104,0.833512,0.151260,0.234914,14.280511
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,131.250000,0.250000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.449210
50%,110.000000,2.000000,1.000000,180.000000,1.500000,14.000000,6.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.424490
75%,110.000000,3.000000,1.000000,217.500000,3.000000,17.000000,10.750000,113.750000,25.000000,3.000000,1.000000,1.000000,51.401243
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [29]:
# Jika ingin satu-satu, kalian bisa gunakan command seperti berikut
df.fat.mean()

0.9459459459459459

In [30]:
df.sodium.std()

85.18844672264345

In [31]:
# Kalian juga bisa menemukan korelasi antara 2 variabel (seperti pada laporan praktikum)
df.calories.corr(df.rating)

-0.7120539091366642

In [32]:
# Urutan tidak berpengaruh
df.rating.corr(df.calories)

-0.7120539091366642

In [33]:
# Kalian juga dapat menemukan indeks baris yang bernilai maksimum dari sebuah kolom. Misalnya kita ambil contoh kolom fiber
idx = df.fiber.idxmax() # Untuk minimum, ganti idxmax() jadi idxmin()
df.iloc[idx]

name        Almond Delight
mfr                      R
type                     C
calories               110
protein                  2
fat                      2
sodium                 200
fiber                  1.0
carbo                 14.0
sugars                 8.0
potass                -1.0
vitamins              25.0
shelf                  3.0
weight                 1.0
cups                  0.75
rating           34.384843
Name: 5, dtype: object

Kenapa bentuknya vertikal? Karena dia berbentuk series, bukan dataframe. Jika penasaran perbedaan series dan dataframe, bisa kunjungi page [berikut](https://www.geeksforgeeks.org/creating-a-dataframe-from-pandas-series/#:~:text=Series%20can%20only%20contain%20single,used%20to%20analyse%20the%20data.&text=Explanation%3A&text=Metadata%20is%20the%20data%20of,define%20the%20series%20of%20values.)

## Group By

In [34]:
# Kita bisa mengelompokkan kategori di dalam kolom. Apa maksudnya?
# Mari kita lihat ada nilai apa saja dalam kolom type
df.type.unique()

array(['C', 'H'], dtype=object)

In [35]:
# Dalam kolom tipe, ada C dan H. Ketika kita groupby, maka hanya akan ada dua kolom tersebut yang dikelompokkan. 
# Contohnya ketika kita ingin membandingkan rata-rata protein tipe C dan H

df.groupby("type").protein.mean()

type
C    2.43662
H    4.00000
Name: protein, dtype: float64

In [36]:
# Kita juga bisa mengelompokkan mfr terlebih dahulu,
# kemudian mengelompokkan tipe
df.groupby(["mfr", "type"])['protein'].mean()

mfr  type
A    H       4.000000
G    C       2.318182
K    C       2.652174
N    C       2.800000
     H       3.000000
P    C       2.375000
Q    C       2.285714
     H       5.000000
R    C       2.000000
Name: protein, dtype: float64

In [37]:
# Perhatikan, ada perbedaan ketika dibalik (seperti sorting)
df.groupby(["type", "mfr"])['protein'].mean()

type  mfr
C     G      2.318182
      K      2.652174
      N      2.800000
      P      2.375000
      Q      2.285714
      R      2.000000
H     A      4.000000
      N      3.000000
      Q      5.000000
Name: protein, dtype: float64

# Selesai! :D

Okay! Sampai di sini dulu perjumpaan kita. Untuk tahap selanjutnya, kalian bisa belajar tentang visualisasi data. Sebenarnya, ada banyak resources di internet, beberapa di antaranya adalah Towards Data Science, Stack Overflow, dan Geeks for Geeks. Untuk mencoba hands-on lebih jauh, kalian bisa coba buat akun Kaggle. Mereka menyediakan course gratis dan komunitasnya bagus! 

Baiklah, saya pamit dulu, ya! Khelli mohon maaf apabila banyak yang kurang di artikel ini. Saya juga masih perlu banyak belajar tentang data. Jika ada saran mengenai artikel ini, disampaikan saja, ya! Semangat semuanya, khususnya adik-adik TPB ITB yang menempuh Mata Kuliah KU1102 Pengenalan Komputasi.
<br> <br>

Salam,
<br> <br> <br>
Maria Khelli